.card1{
    margin-left: 14%;
     padding-top: 5%;
     padding-left: 5%;
    
    }
    
    .cardl {
      background-color: rgba(29, 202, 179, 0.884);
    }
    
    .icon-redes {
      font-size: 40px;
      margin-right: 3%;
    }